body { margin: 0; }
canvas { width: 100%; height: 100% }
#editor {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 40%;
	height: 90%;
	visibility: visible;
}
#editor-controls {
	padding-bottom: 3px;
}
.CodeMirror {
	width: 100%;
	height: 100%;
}
.error-span {
	background-color: red;
	color: white;
}

