@font-face {
  font-family: 'Inter ui';
  src: url('/fonts/Inter-UI-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Inter ui';
  src: url('/fonts/Inter-UI-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter ui';
  src: url('/fonts/Inter-UI-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inter ui';
  src: url('/fonts/Inter-UI-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Inter ui';
  src: url('/fonts/Inter-UI-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Inter ui';
  src: url('/fonts/Inter-UI-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Regolapro';
  src: url('/fonts/RegolaPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Regolapro';
  src: url('/fonts/RegolaPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Regolapro';
  src: url('/fonts/RegolaPro-Book.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Regolapro';
  src: url('/fonts/RegolaPro-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
[v-cloak] {
  display: none;
}
.logo {
  position: relative;
  text-align: center;
  top: 50%;
}
#editor {
  position: absolute;
  top: 135px;
  right: 8px;
  width: 40%;
  height: 80%;
  visibility: visible;
}
#editor-controls {
  padding-bottom: 3px;
}
.CodeMirror {
  width: 100%;
  height: 100%;
}
.error-span {
  background-color: red;
  color: white;
}
body {
  background: white;
  font-family: 'Regolapro', 'Poppins', sans-serif;
  letter-spacing: 0.1px;
  margin: 0;
}
.ge_editor {
  letter-spacing: 0px;
}
button {
  letter-spacing: 0.5px;
}
h1 {
  letter-spacing: 0.5px;
}
a {
  text-decoration: none;
  transition: color 300ms ease-in-out;
  color: #006492;
}
a:hover {
  color: #black;
}
.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
